<div class="text-center">
    <h2>Ошибка. Зергистрируйтесь в базе</h2>
</div>

    <p>
        <label>Username:</label><br />
        <input type="text" name="username" />
    </p>
    <p>
        <label>Password:</label><br />
        <input type="password" name="password" />
    </p>
<p>
    <label>ConfirmPassword:</label><br />
    <input type="password" name="confirmpassword" />
</p>
<p>
    <label>Mail:</label><br />
    <input type="email" name="mail" />
</p>
<p>
    <label>Phone:</label><br />
    <input type="number" name="phone" />
</p>

    <p>

        <input type="submit" value="Submit" />
    </p>



